name: Build CI
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Build library
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release .. 
          make -j
