name: Test/Build CI
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build library
        run: |
          mkdir build
          cd build
          cmake -D CMAKE_BUILD_TYPE=Release .. 
          make -j
